<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:1111/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="" contract="Alexus.ThinMvvm.Contract.IService"
                name="ThinMvvmService" kind="" endpointConfiguration="">
                <identity>
                    <!--<certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />-->
                  
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>